body {
	margin: 0 auto;
	min-width: 480px; 
	min-height: 580px;
	background-color: #ffffff;
}

.logo-area{
	margin-top: 1.5vw;
	width: auto;
	text-align: center;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.logo-area img {
	margin-right: 6vw;
}

.link-box {
	width: 215px;
	display: flex;
    flex-wrap: wrap;
	box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.05);
	border: 2px solid #057cc4;
	overflow: hidden;
}
	
.link-box a { 
	height: 48px;
	width: 100%;
	background-color: #ffffff; 
	color: #057cc4;
	font: 100 21px verdana;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	display: flex;
}

.link-box a:hover {
	color: #ffffff;
	background-color: #057cc4;
}

.align-center {
	margin-top: 4.5vw;
	display: flex;
	justify-content: center;
}

.login_container {
	width: 475px;
	display: flex;
    flex-wrap: wrap;
	border: 2px solid #057cc4;	
	overflow: hidden; 
	background-color: #ffffff;
	box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 50px;
}

.login_container input[type=text], input[type=password], input[type=submit], label, p {
	height: 60px;
	border: none;
}

.login_container p {
	width: 100%;
	color: #ffffff;
 	font: 100 20px Verdana;
	background-color: #057cc4;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 auto;
}

.login_container input[type=text], input[type=password], label {
	box-sizing: border-box;
	border: none;
	width: 50%;
	color: #057cc4;
 	font: 100 18px Verdana;
	justify-content: center;
	align-items: center;
	display: flex;
	text-align:center;
}

.login_container input[type=text]:hover, input[type=password]:hover {
	background-color: #ebf7ff;
}

.login_container input[type=submit] {
	width: 100%;
	color: #ffffff;
	background-color: #057cc4;
 	font: 100 18px Verdana;
}

.login_container input[type=submit]:hover {
	border-top: 2px solid #057cc4;
	color: #057cc4;
	background-color: #ffffff;
	cursor: pointer;
}

#drop_file_zone h2 {
	height: 60px;
	width: 100%;
	color: #ffffff;
 	font: 100 20px Verdana;
	background-color: #057cc4;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 auto;
}

#drop_file_zone {
    background-color: #ffffff; 
    border: 2px solid #057cc4;
    width: 475px; 
    height: 150px;
    font-size: 18px;
}

#drag_upload_file {
  width:50%;
  margin:0 auto;
}

#drag_upload_file p {
	height: 30%;
	text-align: center;
	font: 100 22px Verdana;
}

#drag_upload_file #selectfile {
  display: none;
}

.toggle_column_container {
	width: 475px;
	display: flex;
    flex-wrap: wrap;
	border: 2px solid #057cc4;	
	overflow: hidden; 
	background-color: #ffffff;
	box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.1);
}

.toggle_column_container p {
	width: 100%;
	color: #ffffff;
 	font: 100 20px Verdana;
	background-color: #057cc4;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 auto;
}

.toggle_column_container input[type=submit] {
	border: none; 
	height: 60px;
	width: calc(100%/3);
	font: 500 16px Verdana;
}

.active {
	color: #057cc4;
	background-color: #ffffff;
}

.inactive {
	color: #ffffff;
	background-color: #dc143c;
}

.active:hover, .inactive:hover {
	color: #ffffff;
	background-color: #057cc4;
	cursor: pointer;
}